<%= form_for @tag, remote: true do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>
    <br>
    <div>
        <%= form.submit %>
    </div>
<% end %>