<h1>Tags</h1>
<ul>
    <% @tags.each do |tag| %>
        <li><%= link_to tag.name, tag %></li>
    <% end %>
</ul>

<div>
    <h1>New Tag</h1>
    <%= render 'form' %>
</div>

<br>
<br>

<%= link_to "All Articles", articles_url %>