<h1><%= "#{@tag.name} Articles" %></h1>

<ul>
    <% @tag.articles.each do |article| %>
        <li><%= link_to article.title, article %></li>
    <% end %>
</ul>

<br>
<br>

<%= link_to "All Articles", articles_url %>

<br>
<br>

<%= link_to "All Tags", tags_url %>